<div class="rules">
  <h2>Rules on MEAN</h2>
  <ul>
    <li>
      Be respectful: Do not post anything that is offensive, discriminatory, or defamatory towards other users. Respect
      other users' opinions and beliefs, even if they differ from your own.
    </li>

    <li>
      No spam: Do not post spammy or promotional content. This includes excessive self-promotion, links to unrelated
      websites, or any other content that is not relevant to the website's purpose.
    </li>

    <li>
      Original content: Only post original content that you have the right to publish. Do not plagiarize or copy content
      from other websites or users without their permission.
    </li>

    <li>
      Image guidelines: Only post images that you have the right to publish. Make sure that the images are appropriate
      for all audiences and do not contain offensive or explicit content.
    </li>

    <li>
      Comment guidelines: When commenting on other users' posts, be constructive and add value to the conversation. Do
      not post spammy or promotional comments, or engage in personal attacks or harassment.
    </li>

    <li>
      Report violations: If you come across any content or behavior that violates these rules, report it to the
      website's admin immediately. Do not engage in arguments or fights with other users.
    </li>
    <li>
      Consequences for rule-breaking: Violating any of these rules may result in a warning, suspension, or permanent ban
      from the website. If you are banned and have questions or concerns, you can contact the website's admin at
      <span>mean-admin@gmail.com.</span>
    </li>
  </ul>
  <p>
    Remember, the purpose of these rules is to create a safe and respectful community for all users. By following these
    guidelines, you can help maintain a positive environment and enjoy your experience on the website.
  </p>
</div>
