:host {
  display: block;
}

.info-text {
  text-align: center;
}

mat-spinner {
  margin: auto;
}

mat-paginator {
  margin-top: 1rem;
}

.post-image {
  height: auto;
  width: 100%;

  img {
    //width: 100%; //can be max-width for exact image sizes, but here we use width 100% for create the same containers for all images
    max-width: 100%;
    box-shadow: 1px 1px 5px rgba(0,0,0, 0.5);
  }
}

mat-form-field {
  width: 100%;
}

.comment-info {
  display: flex;
  align-items: center;
}

.username {
  color: #c2185b;
  margin-right: auto;
}

.comment-author {
  color: #c2185b;
}

.comment-text {
  margin: 0 auto 0 10px;
}

mat-action-row {
  align-items: center;
}

.post-header {
  display: flex;
  justify-content: space-between;
  width: 95%;

   button {
     min-width: 75px;
     color: antiquewhite;
   }
}

button[type=submit] {
  margin-top: 5px;
}

form {
  margin-top: 5px;
}

.mat-icon {
  cursor: pointer;
}
