<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-accordion [multi]="true" *ngIf="posts.length && !isLoading; else emptyPosts">
  <mat-expansion-panel *ngFor="let post of posts">
    <mat-expansion-panel-header>
      <div class="post-header">
        <p>{{ post.title }}</p>
        <button mat-button color="primary" (click)="pinPost($event, post.id, post.isPinned)" *ngIf="isAdmin">
          {{ post.isPinned ? 'Pinned' : 'Pin' }}
        </button>
      </div>
    </mat-expansion-panel-header>
    <div class="post-image">
      <img [src]="post.imagePath" [alt]="post.title" />
    </div>
    <p>{{ post.content }}</p>
    <mat-action-row *ngIf="(userAuthenticated && userId === post.creator) || isAdmin">
      <a mat-button color="primary" [routerLink]="['/edit', post.id]">EDIT</a>
      <button mat-button color="warn" (click)="onDeletePost(post.id)">DELETE</button>
    </mat-action-row>
    <mat-expansion-panel *ngIf="userAuthenticated" [expanded]="true" (opened)="onOpenPanel()" (closed)="onClosePanel()">
      <mat-expansion-panel-header>{{ commentsButton }}</mat-expansion-panel-header>
      <div class="comment-info" *ngFor="let comment of post?.comments || []">
        <p>{{ comment.text }}</p>
        <button
          mat-button
          color="warn"
          *ngIf="userId === comment.author || isAdmin"
          (click)="onDeleteComment(post.id, comment._id, comment.author)">
          Delete
        </button>
      </div>
      <div>
        <form [formGroup]="form" (submit)="onSaveComment(post)" *ngIf="form">
          <mat-form-field>
            <input matInput type="text" placeholder="Your comment" formControlName="comment" />
          </mat-form-field>
          <button mat-raised-button color="primary" type="submit">Add Comment</button>
        </form>
      </div>
    </mat-expansion-panel>
  </mat-expansion-panel>
</mat-accordion>
<mat-paginator
  *ngIf="posts.length"
  [length]="totalPosts"
  [pageSize]="postsPerPage"
  [pageSizeOptions]="pageSizeOptions"
  (page)="onChangedPage($event)"></mat-paginator>
<ng-template #emptyPosts>
  <p *ngIf="!isLoading" class="info-text mat-body-1">No posts added yet!</p>
</ng-template>
