<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-accordion [multi]="true" *ngIf="posts.length && !isLoading; else emptyPosts">
  <mat-expansion-panel [expanded]="true" *ngFor="let post of posts">
    <mat-expansion-panel-header>
      <div class="post-header">
        <p>{{ post.title }}</p>
        <button mat-button color="primary" (click)="pinPost($event, post.id, post.isPinned)" *ngIf="isAdmin">
          {{ post.isPinned ? 'Pinned' : 'Pin' }}
        </button>
      </div>
    </mat-expansion-panel-header>
    <div class="post-image">
      <img [src]="post.imagePath" [alt]="post.title" />
    </div>
    <p>{{ post.content }}</p>
    <mat-action-row>
      <p class="username">{{ '@' + post.creator.username }}</p>
      <a
        *ngIf="userAuthenticated && userId === post.creator.id"
        mat-button
        color="primary"
        [routerLink]="['/edit', post.id]"
        >EDIT</a
      >
      <button
        *ngIf="(userAuthenticated && userId === post.creator.id) || isAdmin"
        mat-button
        color="warn"
        (click)="openConfirmDialog(post.id)">
        DELETE
      </button>
    </mat-action-row>
    <mat-expansion-panel *ngIf="userAuthenticated" [expanded]="true" (opened)="onOpenPanel()" (closed)="onClosePanel()">
      <mat-expansion-panel-header>{{ commentsButton }}</mat-expansion-panel-header>
      <div class="comment-info" *ngFor="let comment of post?.comments || []">
        <p class="comment-author">{{ '@' + comment.author.username }}</p>
        <p class="comment-text">{{ comment.text }}</p>
        <mat-icon *ngIf="userId === comment.author._id || isAdmin" (click)="onDeleteComment(post.id, comment)">
          {{ 'delete' }}</mat-icon
        >
      </div>
      <div>
        <form [formGroup]="form" (submit)="onSaveComment(post)" *ngIf="form">
          <mat-form-field>
            <input matInput type="text" placeholder="Your comment" formControlName="comment" />
            <mat-error *ngIf="form?.get('comment')?.invalid">Maximum length is 20</mat-error>
          </mat-form-field>
          <button mat-raised-button color="primary" type="submit">Add Comment</button>
        </form>
      </div>
    </mat-expansion-panel>
  </mat-expansion-panel>
</mat-accordion>
<mat-paginator
  *ngIf="posts.length"
  [length]="totalPosts"
  [pageSize]="postsPerPage"
  [pageSizeOptions]="pageSizeOptions"
  (page)="onChangedPage($event)"></mat-paginator>
<ng-template #emptyPosts>
  <p *ngIf="!isLoading" class="info-text mat-body-1">No posts added yet!</p>
</ng-template>
